.header {
	height: 130px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid black 1px;

    h1 {
    	img {
    		margin-top: 10px;
    		height: 120px;
    	}
    }

    .button {
    	font-family: $jose;
    	font-size: 40px;
    	font-weight: bold;
    	position: relative;

    	a {
    		color: black;
    		text-decoration: none;
    	}

    	.color {
    		position: absolute;
    		z-index: -1;
    		top: 0;
    		left: 37px;
    		background-color: white;
    		height: 40px;
    		width: 40px;
    		border-radius: 50%;
    		transition: linear .3s;
    	}

    	.color2 {
    		position: absolute;
    		z-index: -1;
    		top: 0;
    		left: 48px;
    		background-color: white;
    		height: 40px;
    		width: 40px;
    		border-radius: 50%;
    		transition: linear .3s;
    	}

    	&:hover {

    		.color {
    			background-color: #FF6B6B;
    			transform: scale(2);
    			transition: linear .3s;
    		}

    		.color2 {
    			background-color: #FF6B6B;
    			transform: scale(2);
    			transition: linear .3s;
    		}
    	}
    }
}

//media queries 

@media (max-width: 724px) {
	.button {
		transform: scale(.6);
	}

}
