// .heading1 {
// 	font-family: $playfair;
// 	font-size: 40px;
// 	text-align: center;
// }

.dotted-line {
    text-align: center;
    height: 1px;
    border-bottom: dashed 2px black;
    width: 100%;
}

.content {
	margin: 50px;
}

.r1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.classic2 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	width: 30%;
	background-color: #033649;
	font-family: $playfair;
	font-size: 60px;
}

.clas1 {
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 250px;
	width: 30%;
	font-family: $lato;
	font-size: 16px;
}

.c1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #162252;
	height: 50px;
	width: 100%;
}

.c2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #033649;
	height: 50px;
	width: 100%;
}

.c3 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E8DDCB;
	height: 50px;
	width: 100%;
}

.c4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8B1A1A;
	height: 50px;
	width: 100%;
}

.c5 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.c6 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8B3A3A;
	height: 50px;
	width: 100%;
}

.c7 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #330000;
	height: 50px;
	width: 100%;
}

.c8 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EBDCB2;
	height: 50px;
	width: 100%;
}

.c9 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #C9A66B;
	height: 50px;
	width: 100%;
}

.c10 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.c11 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #526F35;
	height: 50px;
	width: 100%;
}

.c12 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2A2922;
	height: 50px;
	width: 100%;
}

.c13 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F3EBDD;
	height: 50px;
	width: 100%;
}

.c14 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7D5642;
	height: 50px;
	width: 100%;
}

.c15 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.c16 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2A3132;
	height: 50px;
	width: 100%;
}

.c17 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #003B46;
	height: 50px;
	width: 100%;
}

.c18 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #66A5AD;
	height: 50px;
	width: 100%;
}

.c19 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D1EEEE;
	height: 50px;
	width: 100%;
}

.c20 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.c21 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0F1F38;
	height: 50px;
	width: 100%;
}

.c22 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8E7970;
	height: 50px;
	width: 100%;
}

.c23 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EEE9E9;
	height: 50px;
	width: 100%;
}

.c24 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #42313A;
	height: 50px;
	width: 100%;
}

.c25 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.m1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F9BA32;
	height: 50px;
	width: 100%;
}

.m2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #38B0DE;
	height: 50px;
	width: 100%;
}

.m3 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F8F1E5;
	height: 50px;
	width: 100%;
}

.m4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2F3131;
	height: 50px;
	width: 100%;
}

.modern2 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	width: 30%;
	background-color: #FF4E50;
	font-family: $lato;
	font-size: 60px;
}

.m5 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #688898;
	height: 50px;
	width: 100%;
}

.m6 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #BDA0CB;
	height: 50px;
	width: 100%;
}

.m7 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D1EEEE;
	height: 50px;
	width: 100%;
}

.m8 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #003B46;
	height: 50px;
	width: 100%;
}

.m9 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #257985;
	height: 50px;
	width: 100%;
}

.m10 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5EA8A7;
	height: 50px;
	width: 100%;
}

.m11 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	height: 50px;
	width: 100%;
}

.m12 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF6347;
	height: 50px;
	width: 100%;
}

.m13 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2F2E33;
	height: 50px;
	width: 100%;
}

.m14 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D5D6D2;
	height: 50px;
	width: 100%;
}

.m15 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E6E8FA;
	height: 50px;
	width: 100%;
}

.m16 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3B4990;
	height: 50px;
	width: 100%;
}

.m17 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #262F34;
	height: 50px;
	width: 100%;
}

.m18 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF4E50;
	height: 50px;
	width: 100%;
}

.m19 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F8F1E5;
	height: 50px;
	width: 100%;
}

.m20 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #615049;
	height: 50px;
	width: 100%;
}