// .heading1 {
// 	font-family: $playfair;
// 	font-size: 40px;
// 	text-align: center;
// }

.content3 {
	margin: 50px;
}

.r3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content4 {
	margin: 0 50px 50px 50px;
}

.r4 {
	margin-top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dotted-line {
    text-align: center;
    height: 1px;
    border-bottom: dashed 2px black;
    width: 100%;
}

.classic2 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	width: 30%;
	background-color: #033649;
	font-family: $playfair;
	font-size: 60px;
}

.clas1 {
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 250px;
	width: 30%;
	font-family: $lato;
	font-size: 16px;
}

.c1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #162252;
	height: 50px;
	width: 100%;
}

.c2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #033649;
	height: 50px;
	width: 100%;
}

.c3 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E8DDCB;
	height: 50px;
	width: 100%;
}

.c4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8B1A1A;
	height: 50px;
	width: 100%;
}

.c5 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.c6 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8B3A3A;
	height: 50px;
	width: 100%;
}

.c7 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #330000;
	height: 50px;
	width: 100%;
}

.c8 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EBDCB2;
	height: 50px;
	width: 100%;
}

.c9 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #C9A66B;
	height: 50px;
	width: 100%;
}

.c10 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.c11 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #526F35;
	height: 50px;
	width: 100%;
}

.c12 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2A2922;
	height: 50px;
	width: 100%;
}

.c13 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F3EBDD;
	height: 50px;
	width: 100%;
}

.c14 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7D5642;
	height: 50px;
	width: 100%;
}

.c15 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.c16 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2A3132;
	height: 50px;
	width: 100%;
}

.c17 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #003B46;
	height: 50px;
	width: 100%;
}

.c18 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #66A5AD;
	height: 50px;
	width: 100%;
}

.c19 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D1EEEE;
	height: 50px;
	width: 100%;
}

.c20 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.c21 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0F1F38;
	height: 50px;
	width: 100%;
}

.c22 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8E7970;
	height: 50px;
	width: 100%;
}

.c23 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EEE9E9;
	height: 50px;
	width: 100%;
}

.c24 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #42313A;
	height: 50px;
	width: 100%;
}

.c25 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 99.5%;
	color: black;
	font-size: 30px;
	border: solid 1px #9C9C9C;
}

.m1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F9BA32;
	height: 50px;
	width: 100%;
}

.m2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #38B0DE;
	height: 50px;
	width: 100%;
}

.m3 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F8F1E5;
	height: 50px;
	width: 100%;
}

.m4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2F3131;
	height: 50px;
	width: 100%;
}

.modern2 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	width: 30%;
	background-color: #FF4E50;
	font-family: $lato;
	font-size: 60px;
}

.m5 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #688898;
	height: 50px;
	width: 100%;
}

.m6 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #BDA0CB;
	height: 50px;
	width: 100%;
}

.m7 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D1EEEE;
	height: 50px;
	width: 100%;
}

.m8 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 50px;
	width: 100%;
}

.m9 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #257985;
	height: 50px;
	width: 100%;
}

.m10 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5EA8A7;
	height: 50px;
	width: 100%;
}

.m11 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c0dfd9;
	height: 50px;
	width: 100%;
}

.m12 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF4E50;
	height: 50px;
	width: 100%;
}

.m13 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2F2E33;
	height: 50px;
	width: 100%;
}

.m14 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #688898;
	height: 50px;
	width: 100%;
}

.m15 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #033649;
	height: 50px;
	width: 100%;
}

.m16 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00688B;
	height: 50px;
	width: 100%;
}

.m17 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #262F34;
	height: 50px;
	width: 100%;
}

.m18 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF4E50;
	height: 50px;
	width: 100%;
}

.m19 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F8F1E5;
	height: 50px;
	width: 100%;
}

.m20 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #615049;
	height: 50px;
	width: 100%;
}

.fun2 {
	color: white;
	text-decoration: none;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	width: 30%;
	background-color: #CBE86B;
	font-family: $lobster;
	font-size: 60px;
}

.f1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $pink;
	height: 50px;
	width: 100%;
}

.f2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $freshgreen;
	height: 50px;
	width: 100%;
}

.f3 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $purplecandy;
	height: 50px;
	width: 100%;
}

.f4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $greyblue;
	height: 50px;
	width: 100%;
}

.f5 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #CBE86B;
	height: 50px;
	width: 100%;
}

.f6 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF4E50;
	height: 50px;
	width: 100%;
}

.f7 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #AEEEEE;
	height: 50px;
	width: 100%;
}

.f8 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #490A3D;
	height: 50px;
	width: 100%;
}

.f9 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #C7EDE8;
	height: 50px;
	width: 100%;
}

.f10 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #36BBA6;
	height: 50px;
	width: 100%;
}

.f11 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E1F5C4;
	height: 50px;
	width: 100%;
}

.f12 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #AEE239;
	height: 50px;
	width: 100%;
}

.f13 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F77604;
	height: 50px;
	width: 100%;
}

.f14 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #AEE239;
	height: 50px;
	width: 100%;
}

.f15 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F56C57;
	height: 50px;
	width: 100%;
}

.f16 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #231B12;
	height: 50px;
	width: 100%;
}

.f17 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #17F9FF;
	height: 50px;
	width: 100%;
}

.f18 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00B4FC;
	height: 50px;
	width: 100%;
}

.f19 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #005BC5;
	height: 50px;
	width: 100%;
}

.f20 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #012677;
	height: 50px;
	width: 100%;
}

.subtle2 {
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	width: 30%;
	background-color: #AEEEEE;
	font-weight: bold;
	font-family: $ama;
	font-size: 70px;
}

.s1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F70025;
	height: 50px;
	width: 100%;
}

.s2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #080706;
	height: 50px;
	width: 100%;
}

.s3 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 50px;
	width: 100%;
}

.s4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #677077;
	height: 50px;
	width: 100%;
}

.s5 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #9AD3DE;
	height: 50px;
	width: 100%;
}

.s6 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E9ECE5;
	height: 50px;
	width: 100%;
}

.s7 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #AEEEEE;
	height: 50px;
	width: 100%;
}

.s8 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #20232A;
	height: 50px;
	width: 100%;
}

.s9 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $purplecandy;
	height: 50px;
	width: 100%;
}

.s10 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #490A3D;
	height: 50px;
	width: 100%;
}

.s11 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E6E9F0;
	height: 50px;
	width: 100%;
}

.s12 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #06000A;
	height: 50px;
	width: 100%;
}

.s13 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0F1B07;
	height: 50px;
	width: 100%;
}

.s14 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	height: 50px;
	width: 100%;
}

.s15 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #667467;
	height: 50px;
	width: 100%;
}

.s16 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #334431;
	height: 50px;
	width: 100%;
}

.s17 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FEF3E2;
	height: 50px;
	width: 100%;
}

.s18 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #C5D5CB;
	height: 50px;
	width: 100%;
}

.s19 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #626D71;
	height: 50px;
	width: 100%;
}

.s20 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00293C;
	height: 50px;
	width: 100%;
}

.bold2 {
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	width: 30%;
	background-color: #490A3D;
	font-family: $lines;
	font-size: 50px;
}

.b1 {
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00FFFF;
	height: 50px;
	width: 100%;
}

.b2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF00FF;
	height: 50px;
	width: 100%;
}

.b3 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFF00;
	height: 50px;
	width: 100%;
}

.b4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	height: 50px;
	width: 100%;
}

.b5 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E91E63;
	height: 50px;
	width: 100%;
}

.b6 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #C2185B;
	height: 50px;
	width: 100%;
}

.b7 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF5252;
	height: 50px;
	width: 100%;
}

.b8 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	height: 50px;
	width: 100%;
}

.b9 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2196F3;
	height: 50px;
	width: 100%;
}

.b10 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1976D2;
	height: 50px;
	width: 100%;
}

.b11 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8BC34A;
	height: 50px;
	width: 100%;
}

.b12 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	height: 50px;
	width: 100%;
}

.b13 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #300032;
	height: 50px;
	width: 100%;
}

.b14 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF5722;
	height: 50px;
	width: 100%;
}

.b15 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E040FB;
	height: 50px;
	width: 100%;
}

.b16 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	height: 50px;
	width: 100%;
}

.b17 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #36BBA6;
	height: 50px;
	width: 100%;
}

.b18 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #005BC5;
	height: 50px;
	width: 100%;
}

.b19 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF4E50;
	height: 50px;
	width: 100%;
}

.b20 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #171F28;
	height: 50px;
	width: 100%;
}

.mono2 {
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
	width: 30%;
	background-color: #343838;
	font-family: $pacifico;
	font-size: 50px;
}

.n1 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #CFD8DC;
	height: 50px;
	width: 100%;
}

.n2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #607D8B;
	height: 50px;
	width: 100%;
}

.n3 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #727272;
	height: 50px;
	width: 100%;
}

.n4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	height: 50px;
	width: 100%;
}

.n5 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #080706;
	height: 50px;
	width: 100%;
}

.n6 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFEFEF;
	height: 50px;
	width: 100%;
}

.n7 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D1B280;
	height: 50px;
	width: 100%;
}

.n8 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #594D46;
	height: 50px;
	width: 100%;
}

.n9 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3D4450;
	height: 50px;
	width: 100%;
}

.n10 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #515763;
	height: 50px;
	width: 100%;
}

.n11 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2F3D4C;
	height: 50px;
	width: 100%;
}

.n12 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2B3441;
	height: 50px;
	width: 100%;
}

.n13 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	height: 50px;
	width: 100%;
}

.n14 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F5F5F5;
	height: 50px;
	width: 100%;
}

.n15 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #727272;
	height: 50px;
	width: 100%;
}

.n16 {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #B6B6B6;
	height: 50px;
	width: 100%;
}

.n17 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #847B77;
	height: 50px;
	width: 100%;
}

.n18 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #A09287;
	height: 50px;
	width: 100%;
}

.n19 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ACA79E;
	height: 50px;
	width: 100%;
}

.n20 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #54504A;
	height: 50px;
	width: 100%;
}

//media queries

@media (max-width: 933px) {
	.classic2 {
		font-size: 30px;
	}

	.modern2 {
		font-size: 30px;
	}

	.fun2 {
		font-size: 30px;
	}

	.subtle2 {
		font-size: 30px;
	}

	.bold2 {
		font-size: 30px;
	}

	.mono2 {
		font-size: 30px;
	}
}

@media (max-width: 724px) {
	.r3 {
		flex-direction: column;
	}

	.r4 {
		flex-direction: column;
	}

	.content3 {
		margin: 0;
	}

	.content4 {
		margin: 0;
	}

	.classic2 {
		margin: 10px 0;
		font-size: 60px;
		width: 100%;
	}

	.modern2 {
		margin: 10px 0;
		font-size: 60px;
		width: 100%;
	}

	.fun2 {
		margin: 10px 0;
		font-size: 60px;
		width: 100%;
	}

	.subtle2 {
		margin: 10px 0;
		font-size: 60px;
		width: 100%;
	}

	.bold2 {
		margin: 10px 0;
		font-size: 60px;
		width: 100%;
	}

	.mono2 {
		margin: 10px 0;
		font-size: 60px;
		width: 100%;
	}

	.clas1 {
		margin: 10px 0;
		width: 100%;
	}
}